/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');
/* end */

/* browser clear settings */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* end */

/* variables global */
:root {
    /* colors */
    --text-gray: #5E5A5D;
    --text-dark: #262526;
    --text-white: #f3f3f3;
    --text-light: #DCDCDC;
    --color-blue: #8acff7;
    --color-cyan: #8af7df;
    --color-dark-cyan: #91bbad;
    --color-orange: #f3a75c;
    --beige: #E9E0DB;
    --beige-dark: #5D5852;
    --pink: #fab0e7;
    --dirty-pink: #dba2cd;
    /* end */

    /* Main distans between grid element*/
    --main-gap: 1.15rem; 
    /* end */
}
/* end */

/* main text settings */
 html{
    font-size: 18px;
 }
 p{
    font-size: 1rem;
 }
 small{
    font-size: 0.7rem;
 }
 h6{
    font-size: 1.35rem;
 }
 h5{
    font-size: 1.55rem;
 }
 h4{
    font-size: 1.8rem;
 }
 h3{
    font-size: 2rem;
 }
 h2{
    font-size: 2.25rem;
 }
 h1{
    font-size: 2.7rem;
 }
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 700;
}
/* end */

/* flex layout elements */

.flex-comtainer{
    display:flex;
    flex-wrap: wrap;
}
.flex-comtainer-column{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.flex{
    flex:1;
}
/* end */

/* Gred layout elements */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(50px, 100%), 1fr));
    gap: var(--main-gap);
    min-height: 200px;
}

.grid {
    grid-column: span 1;
  }
/* end */

/*for grid and flex container items */

/* container */
.jc-start{
    justify-content: flex-start;
}
.jc-end{
    justify-content: flex-end;
}
.jc-center{
    justify-content: center;
}
.jc-s-between{
    justify-content: space-between;
}
.jc-s-around{
    justify-content: space-around;
}
.ac-start{
    align-content: flex-start;
}
.ac-end{
    align-content: flex-end;
}
.ac-center{
    align-content: center;
}
.ac-s-between{
    align-content: space-between;
}
.ac-s-around{
    align-content: space-around;
}
/* end */

/* Items */
.as-start{
    align-self: flex-start;
}
.as-end{
    align-self: flex-end;
}
.as-center{
    align-self: center;
}
.as-stretch{
    align-self: stretch;
}
.js-start{
    justify-self: flex-start;
}
.js-end{
    justify-self: flex-end;
}
.js-center{
    justify-self: center;
}
.js-stretch{
    justify-self: stretch;
}
/* end */
/* end */